vendor/
node_modules/
.env
docker-compose.yml
Dockerfile
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.DS_Store
Thumbs.db